footer{
    text-align: center;
    padding: 40px 0;
    
}

.rodape{
    border: 5px solid blue;
    background-color: #474545;
}

.copyright{
	color: #FFFFFF;
	font-size:  13px;
	margin: 10px 0;
    
}
