/* Conteúdo englobado*/

.container {
  width: 940px;
  /*border: 1px solid red;*/
 background: url("../img/cherry-bg-red.jpg");
}

.subtitulo_2 {
  text-align: center;
  margin: auto;
  font-size: 2em;
  color:#3C1321;
  font-family: 'Rammetto One', cursive;
  padding-top: 30px;
  padding-bottom: 100px;
}



.principal {
  width: 690px;
  height: 970px;
  align-items: center;
  justify-content: center;
  float: right;
  margin-left: -4px;
  
  
}

/*Conteúdo central*/

.destaques{
  display: inline-block;
  margin: 100px 35px;
  padding: 25px 0;
  background-color: rgb(255,247,214, 0.8);
  align-content: center;
  vertical-align: middle;
  border-style: none;
  border-radius: 5px;

}


 .destaques_ul li{
  display: inline-block;
  align-items: center;
  margin: 0 6px;
  padding-top: 10px;
	font-family: 'Montserrat', sans-serif;
  border: 1px solid black;
  border-radius: 5px;
} 

.destaques_ul li:hover{
  border: 1px solid #05C3DD;
  color: #05C3DD;
  font-weight: bold;
}

.destaques_ul li:active{
  border: 1px solid #A123A1;
  color: #A123A1;
  font-weight: bold;
}

.cardapio{
  height: 160px;
  width: 160px;
  margin:0 10px;
  vertical-align: top;
}

.destaques_texto{
  margin-left:10px;
  height:60px;
  width: 160px;
  text-align: center;
}

.destaques_paragrafo{
  margin-left:10px;
  height:120px;
  width: 180px;
  text-align: center;
}

.destaques_paragrafo{
  padding-top: 13px;
  text-align: center;

}

/*Contato*/ 

.contato{
  width: 940px;
  margin: 0 auto;
}

form{
  margin: 40px 70px;
  font-family: 'Montserrat';
  
}

fieldset{
  border-style: none;
}

form label, form legend{
  display:block;
  font-size: 20px;
  margin:10px 0;
}

.input-padrao{
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
}

#address{
  padding: 10px 200px;
}

.funcionamento{
  margin: 40px 100px;
}

.enviar{
  width:50%;
  margin-top: 25px;
  padding: 15px 0;
  background: lightskyblue;
  color:azure;
  font-family: 'Montserrat';
  border:none;
  border-radius:5px;
  cursor:pointer;
}

.enviar:hover{
  background: darkblue;
  font-weight: bold;
  transform: scale(1.1);
}

table{
  margin: 20px 100px;
  font-family: 'Montserrat';
}

thead{
  background: #6082B6;
  color:whitesmoke;
  font-weight: bold;
}

td,th{
  border: 1px solid #000000;
  border-radius: 2px;
  padding: 8px 15px;
}

