nav{
    background-color: #bbeaff;
    width: 250px;
    margin: 0;
    float: left;
    border-radius: 5px;
    height: 960px;
}

nav li{
    padding: 10px 0;
    text-align: center;
    
    
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
}

ul{
    
}

.navegacao{
   
}