nav{
    background-color: #FFFFFF;
    width: 250px;
    margin: 0 auto;
    float: left;
    vertical-align: top;
    border-radius: 10px;
    height: 970px;
}

nav li{
    padding: 10px 0;
    text-align: center;
    
    
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
}



.img-menu{
    margin-top: 50px;
    width: 250px;
    height: 350px;
   
}