nav{
    background-color: #FFFFFF;
    width: 250px;
    margin: 0 auto;
    float: left;
    vertical-align: top;
    height: 970px;
    border: 1px solid green;
}

nav li{
    padding: 10px 0;
    text-align: center;
    
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Sunflower', sans-serif;
    color: #3C1321;
}

nav a:hover{
    color: #f698b2;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
}

nav a:active{
    color: #C66E4E;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
}

.img-menu{
    margin-top: 50px;
    width: 250px;
    height: 350px;
   
}